APScheduler==3.5.3
Flask==1.0.2
google-api-python-client==1.7.4
google-auth==1.6.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
idna==2.7
oauthlib==2.1.0
peewee==3.7.1
praw==6.0.0
pbr==5.1.1
psycopg2==2.7.6.1
PyYAML==4.2b4
six==1.11.0
urllib3==1.24.2
newrelic
